* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* 继承 */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 2rem;
  /* border-radius: 4rem; */
}

body {
  
  border-radius: 0 10rem 0 0; */
  /* border-radius 4pt;  */
  font-family:sans-serif;
  color: #333;
  line-height: 1.5;
  height: 90%;
  position: relative;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  /* width: 80%;
  margin: 20%;
  height: 100%; */
  /* overflow: auto; */
  /* background: linear-gradient(to top left, #28b487, #7dd56f) ; */
  background: url(../boki.jpg) no-repeat  scroll;
  background-position: top center;
  /* backdrop-filter:blur(20px); */
  background-size: cover;
  background-color: rgb(240, 128, 184);
  box-shadow:10px 5px 5px #b42d2d;

}

.show-modal {
  /* display: grid; */
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #ea8dbb;
  color: #444;
  border-radius: 10rem;
  text-shadow: #ea8dbb;
  /* 鼠标指针样式 */
  /* cursor: pointer; */
  cursor:url(https://cdn.custom-cursor.com/db/18367/32/anime-spy-x-family-happy-anya-forger-dango-pointer.png),pointer !important;
}
.show-modal:hover{
  background-color: rgb(239, 66, 135);
  color: aqua;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 30px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* .baba{
  display: none;
} */
